Repository charmed-hpc/hpc-libs, pull requests merged in 2025-02, with the labels that each got.

#71 docs: add SECURITY.md
  SECURITY.md
Labels: docs

#72 enhancement: expose jwt_keyfile path
  lib/charms/hpc_libs/v0/slurm_ops.py
Labels: C-slurm, feature

#75 chore(slurm_ops): bump `slurm_ops` to 0.16
  dev-requirements.txt
  lib/charms/hpc_libs/v0/slurm_ops.py
Labels: fix, C-slurm

#76 chore(slurm_ops): bump `slurm_ops` to 0.17
  lib/charms/hpc_libs/v0/slurm_ops.py
Labels: cleanup, C-slurm
